<div style='margin-left: 2cm'>
    <h4 class="text-secondary">All Customers:</h4>
    <ul class="customers">
        <li *ngFor="let customer of customers">
            <a routerLink="/customers/{{customer.id}}" class="text-secondary p-0" >
                <p>Customer Id: <span>{{customer.id}}</span>; Room No: <span>{{customer.roomId}}</span></p>
            </a>
        </li>
    </ul>
    <button class="btn btn-outline-info ml-2 mr-4 " routerLink="/customers/create"  style="margin-bottom: 1cm;">Create Customer</button>
</div>
